button(type="button", value="월급") 월급
button(type="button", value="부수입") 부수입
button(type="button", value="용돈") 용돈
button(type="button", value="상여") 상여
button(type="button", value="금융소득") 금융소득
button(type="button", value="기타") 기타