button(type="button", value="식비") 식비
button(type="button", value="교통/차량") 교통/차량
button(type="button", value="문화생활") 문화생활
button(type="button", value="마트") 마트
button(type="button", value="편의점") 편의점
button(type="button", value="패션") 패션
button(type="button", value="미용") 미용
button(type="button", value="생활용품") 생활용품
button(type="button", value="주거/통신") 주거/통신
button(type="button", value="건강") 건강
button(type="button", value="교육") 교육
button(type="button", value="경조사/회비") 경조사/회비
button(type="button", value="부모님") 부모님
button(type="button", value="기타") 기타