.header {
  margin-bottom: 50px;
  .btnGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .btn {
      padding: 20px;
      background-color: #2c3e50;
      outline: none;
      text-align: center;
      font-size: 27px;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: #1e2b37;
        border-color: #1a252f;
      }
    }
    .active {
      background-color: #1e2b37;
      border-color: #1a252f;
    }
  }
}
