.header {
  width: 100%;
  position: fixed;
  background-color: $navy;
  color: #fff;
  font-size: 30px;
  margin-bottom: 50px;
  z-index: 10;
  .header__wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .header__column {
      &:first-child {
        font-size: 35px;
        .siteName {
          margin-left: 20px;
          font-family: $b-font;
        }
      }
      &:last-child {
        justify-self: end;
        ul {
          display: flex;
          font-weight: 700;
          text-transform: uppercase;
          li {
            padding: 20px 15px;
          }
          li:hover {
            background-color: $dark-navy;
          }
        }
      }
    }
  }
}
