extends layouts/moneybook

block content
    .add__container
        .add__content
            form(action="add", method="post")
                .add_column
                    span 날짜
                    span=strDate
                    input(type="hidden", name="date", value=date)
                .add_column
                    span 수입/지출
                    .radio-items
                        .col-6
                            input.radio#income(type="radio", name="incExp", value="income", checked)
                            label(for="income") 수입
                        .col-6
                            input.radio#expend(type="radio", name="incExp", value="expend")
                            label(for="expend") 지출
                .add_column
                    span 유형
                    select(name="type")
                .add_column
                    span 분류
                    input(type="text", name="group", placeholder="분류")
                .add_column
                    span 금액
                    input(type="text", name="amount", placeholder="금액")
                .add_column
                    input(type="submit", value="Go")