extends layouts/moneybook

block content
    .calendar__container
        .calendar#Calendar
    
    .modal__container#Modal
        .changeDate.prev
            i.fas.fa-chevron-left
        form.modal__content(action=moneybook+routes.createCatalog, method="get")
            .modal__column
                .column__date
                    span.dateString#DateString
                    input.dateCode#DateCode(type="hidden", name="date")
                .column__diff#Diff
            .modal__column#Info
            .modal__column
                .column
                .column
                    button.create.btn(type="submit") 추가
                    button.close.btn#CloseBtn(type="button") 닫기
        .changeDate.next
            i.fas.fa-chevron-right    
