extends layouts/moneybook

block content
    .calendar__container
        .calendar#Calendar
    
    .modal__container#Modal
        .js-modal__button-prev
            i.fas.fa-chevron-left
        form.modal__content(action=moneybook+routes.createCatalog, method="get")
            .modal__column
                .column__date
                    span.js-date__string
                    input.js-date__code(type="hidden", name="date")
                .js-column__total
            .modal__column#Info
            .modal__column
                .column
                .column
                    button(type="submit") 추가
                    button.js-modal__button-close(type="button") 닫기
        .js-modal__button-next
            i.fas.fa-chevron-right    
