body {
  background-color: $bg;
  overflow: hidden;
  font-size: 25px;
  font-family: -apple-system, Poor Story, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
