.add__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  .add__content {
    background-color: #fff;
    input {
      font-size: inherit;
      font-family: Poor Story;
    }
  }
}
