.calendar__container {
  display: flex;
  justify-content: center;
  .calendar {
    width: 100%;
    max-width: 1200px;
    td {
      cursor: pointer;
    }
  }
  .fc-event-container {
    z-index: -1;
    .fc-day-grid-event {
      z-index: -1;
      .fc-content {
        z-index: -1;
        text-align: right;
        .title {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          font-size: 30px;
        }
      }
    }
  }
}
